* {
  list-style:none;
  margin:0;
  outline:none;
  padding:0;
  text-decoration:none;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
}
body{
  font-family: 'Montserrat';
  font-size:23px;
  background:whitesmoke;
  color:black;
}
.title{
  font-size:50px;
  text-align: center;
  font-weight:400;
}
label{
  color:#ff04b4;
  text-transform: capitalize;
  font-size:18px;
  font-weight:600;
}
select{
  font-family: 'Montserrat';
}
.selectionWrap{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0px 10px 30px 10px;

}
.optionsWrap{
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}
.mySelector{
  display: flex;
  flex-direction: column;
  width: 140px;
  height:30px;
  padding-top:5px;

}
.canvasWrap{
  margin-top:15px
}
canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  border:3px dotted black;

}
.export{
  height:50px;
  width:181px;
  background:#ff04b4;
  border: 1px solid black;
  text-align: center;
  cursor:pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center
}
.export:hover{
  background:black;
}
